
<h1>All the Cats!</h1>

<ul>
<% @cats.each do |cat| %>
<li><%= link_to cat.name, cat_url(cat) %>
  <br>
</li>
<% end %>
</ul>

<%= link_to "See all requests", cat_rental_requests_url %>
<br>
<%= link_to "Create New Cat", new_cat_url %>
<br>
<%= link_to "Make a Rental Request", new_cat_rental_request_url %>

<%= content_for :footer do %>
<p>
  This is index page.
</p>
<% end %>
